<article>
    <!-- Child -->
    <img src="assets/users/user-5.jpg" alt="anynymous user">
    <!-- Child -->
    <div class="article-content">
      <!-- Grandchild -->
      <div class="container">
        <label>Name:</label>
        <h2>{{name}}</h2>
      </div>
      <!-- Grandchild -->
       <div>
        <label>Details:</label>
        <p>She is a Software devloper</p>
       </div>
    </div>
    <div>
        <span>Test me</span>
    </div>
  </article>

  <section class="form-container">
    <div class="formcontrol">
        <label for="name">Name</label>
        <input type="text" class="type">
    </div>
    <div class="formcontrol">
        <label for="profession">Profession</label>
        <input type="profession" class="type">
    </div>
    <div class="formcontrol">
        <label for="salary">Salary</label>
        <input type="salary" class="type">
    </div>
    <div class="formcontrol">
        <label for="location">City</label>
        <input type="location" class="type">
    </div>
    <div class="formcontrol">
        <input type="button" value="Submit">
    </div>
  </section>