::ng-deep body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    flex-direction: column;
    height: 700px;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
}

.flex-container a {
    text-decoration: none;
    color: purple;
}

.flex-container a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.flex-container span {
    color: #000;
}

h1 {
    color: purple;
    font-size: 22px;
}

.box {
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    width: 400px;
}

.flex-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

input[type="text"] {
    font-size: 18px;
    width: 100%;
    margin-left: 10px;
}

label {
    flex-basis: 130px;
    font-size: 18px;
    padding-top: 10px;
    color: black;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: purple;
    font-size: 18px;
    border: none;
    margin: 20px 0;
}

input[type="button"]:hover {
    cursor: pointer;
    background-color: darkviolet;
}

@media all and (max-width: 480px) {
    .flex-input {
        flex-direction: column;
    }

    label {
        flex-basis: 0;
    }
}