<div class="box">
    <div>
        <h1>User Login</h1>
    </div>
    <div class="flex-input"><label for="name">UserId</label><input type="text"></div>
    <div class="flex-input"><label for="designation">Password</label><input type="text"></div>
    <div><input type="button" value="Login"></div>
    <div class="flex-container">
        <div>
            <input type="checkbox" value="remember me" id="">
            <span>Remember me</span>
        </div>
        <div style="text-align: right;">
            <a href="#">Forget Password</a>
        </div>
    </div>
    
</div>